<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects File</title>
</head>

<body>
  <H1>My Pojects</H1>
  <h2>I am currently studying full-stack web-development and already created a few projects</h2>
  <ul>
    <li>
      <a href="http://ievgenk.github.io/quiz-app">Quizz App</a>
    </li>
    <li>
      <a href="http://ievgenk.github.io/adopt-a-paw">Adopt-A-Paw App</a>
    </li>
  </ul>
</body>

</html>